@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* =============== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500);

html {
  background-color: $background-color;
  max-height: 100vh;
}

* {
  color: #fff;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

button,
input {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
}

[class*="container"] {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1 !important;
  padding-bottom: 40px;
}

* {
  z-index: 2;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.3)),
    rgba(0, 0, 0, 0.12);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

main {
  flex: 1 1 auto;
}

h1 {
  font-size: 48px;
  line-height: normal;
  margin-bottom: 50px;
  text-shadow: $text-shadow;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: normal;
    margin: 10px 0;
  }
}

h2 {
  text-shadow: $text-shadow;
}

hr {
  border: 1px solid #e1e1e1;
  margin: 0 0 10px 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3c2c2;
}
