@mixin column($gap: 10px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin space-between($gap: 10px) {
  display: flex;
  justify-content: space-between;
  gap: $gap;
}

@mixin info($gap: 10px) {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@mixin spoiler($align: center) {
  display: flex;
  padding-right: 50px;
  gap: 10px;
  align-items: $align;
  position: relative;
  min-height: 42px;
  border-top: 1px solid #d9d9d9;

  p {
    display: flex;
    gap: 5px;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .open {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 10px;
    height: 100%;

    &::before,
    &::after {
      content: "";
      width: 16px;
      height: 2px;
      background-color: #000;
      transform: rotate(45deg);
      position: relative;
      top: calc(50% - 2px);
      transition: transform 0.3s ease;
    }

    &::before {
      left: 5px;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &.opened::before {
      transform: rotate(-45deg);
    }

    &.opened::after {
      transform: rotate(45deg);
    }
  }
}
