.displayEvery {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  input {
    width: 25px;
  }

  @media (max-width: 479px) {
    gap: 5px;
    font-size: 14px;
    * {
      font-size: 14px;
    }
  }
}
